@model BenLearns.ViewModels.VolunteerViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    
  <link rel="stylesheet" type="text/css" href="~/css/volunteers.css">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <style>
        .hidden {
    display: none
}

    </style>
</head>



<table class="table table-hover">
    <thead class="thead-light">     
    <tr>
        <th class="searchResultsColumn">First Name</th>
        <th class="searchResultsColumn">Last Name</th>
        <th class="searchResultsColumn">Role</th>
    </tr>
    </thead>


    @using (Html.BeginForm("Volunteers", "Home", FormMethod.Post))
    {




    <div id="SearchForm">
    <div class="col-sm-3"><label>First: </label>    @Html.TextBoxFor(m => m.FirstName)  </div>
    <div class="col-sm-3"><label>Last: </label>  @Html.TextBoxFor(m => m.LastName)  </div>
    <div class="col-sm-3 inlineblock"><label for="roleDropDown">Role: </label>@Html.DropDownListFor(m => m.Role, Model.Roles.Select(x => new SelectListItem { Value = x.Role, Text = x.Role}), new {@id="roleDropDown", @class="form-control searchbox" } ) 
        </div>
        <input type="submit" id="VolunteerSearchBTN" class="btn btn-sm col-sm-2" value="Search Volunteers" />
        </div>

    }

    @Html.Partial("_VolunteerResults", Model.SearchResults)

</table>



    <button id="addNewVolunteer" class="btn btn-sm">Add Volunteer!</button>

    <button id="addNewRole" class="btn btn-sm">Add Role!</button>




    <div id="dialog-addVolunteer" class="hidden">
        <div>Add Volunteer:</div>
        <div>First Name: </div> @Html.TextBoxFor(m => m.FirstName, new { id = "txtFirstNameAdd" })
        <div>Last Name </div> @Html.TextBoxFor(m => m.LastName, new { id = "txtLastNameAdd" })
        <div>Role: </div>  @Html.DropDownListFor(m => m.Role, Model.Roles.Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.Role }), new { @id = "ddlRoleAdd", @class = "form-control searchbox" })

    </div>


        <div id="dialog-addRole" class="hidden">
            <div>Add Role: </div>
            <div>Role Name: </div>
            <input type="text" id="txtRoleName">

           
        </div>



    
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" ></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 <script type="text/javascript">

$(document).ready(function() {
                $("#dialog-addVolunteer").dialog({
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        "Submit": function() {
                            var volunteer = {
                                FirstName: $('#txtFirstNameAdd').val(),
                                LastName: $('#txtLastNameAdd').val(),
                                Role: $('#ddlRoleAdd option:selected').text(),
                                RoleId: $('#ddlRoleAdd').val()
                            };

                            if (volunteer != null) {
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/AddVolunteer",
                                    data: volunteer,
                                    content: 'application/json; charset=utf-8',
                                    dataType: "json",
                                    success: function(response) {
                                        if (response != null && response.length > 0) {
                                            var error = "";
                                            response.forEach(item => {
                                                error += item + "\n";
                                            });

                                            alert(error);
                                        } else if (response != null && response.length == 0) {
                                            alert("Successfully added a Volunteer!");
                                            $("#dialog-addVolunteer").dialog("close");

                                        } else {
                                            alert("An Error happened");
                                        }
                                    },
                                    failure: function(response) {
                                        alert(response.responseText);
                                    },
                                    error: function(response) {
                                        alert(response.responseText);
                                    }
                                });

                            };
                        }

                    },
                    Cancel: function() {
                        $(this).dialog("close");
                    }
                });

                $('#addNewVolunteer').click(function() {
                    $('#dialog-addVolunteer').removeClass('hidden');
                    $('#dialog-addVolunteer').dialog('open');
                    //return false;

                });


                $("#dialog-addRole").dialog({
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        "Submit": function() {
                            var role = {
                                FirstName: $('#txtRoleName').val(),
                            };

                            var roles = $('#roleDropDown option');
                            var enteredRole = $('#txtRoleName').val();
                            for (var i = 0, n = roles.length; i < n; ++i) {
                                if (roles[i].value == enteredRole) {
                                    alert("This Role already exists!");
                                    $(this).dialog("close");
                                }
                            }

                            //TODO BEN check if role already exists

                            if (role != null) {
                                $.ajax({
                                    type: "POST",
                                    url: "/Home/AddRole",
                                    data: role,
                                    content: 'application/json; charset=utf-8',
                                    dataType: "json",
                                    success: function(response) {
                                        if (response != null && response.length > 0) {
                                            var error = "";
                                            response.forEach(item => {
                                                error += item + "\n";
                                            });

                                            alert(error);
                                        } else if (response != null && response.length == 0) {
                                            alert("Successfully added a Role!");
                                            $("#dialog-addRole").dialog("close");

                                        } else {
                                            alert("An Error happened");
                                        }
                                    },
                                    failure: function(response) {
                                        alert(response.responseText);
                                    },
                                    error: function(response) {
                                        alert(response.responseText);
                                    }
                                });

                            };
                        }

                    },
                    Cancel: function() {
                        $(this).dialog("close");
                    }
                });

                $('#addNewRole').click(function() {
                    $('#dialog-addRole').removeClass('hidden');
                    $('#dialog-addRole').dialog('open');

                });


});</script>
@*

TODO BEN:  it seems as though jqueryui isnt gtting recognized in this view (but 2.2.4 of jquery is)
Implement this jquery ui to post to a controller method, so i can add a new volunteer
https://stackoverflow.com/questions/8556008/asp-net-mvc-3-jquery-ui-dialog-form?rq=1

*@


